.idea/
*.gem
/tmp
/logs/*.log
/reports/*.ser
/snapshots/*.ses
/spec/support/logs/*.log
/spec/support/reports/*.ser
/spec/support/snapshots/*.ses
/private.pem
error.log
TODO
.rvmrc
coverage/
.env
.bundle/
mkmf.log
target
*.dll
*.dylib
*.lock
*.so
*.tar.gz
.rspec_status
